software/BikeCounterLight/arduino_secrets.h
software/BikeCounterLight/.vscode/
software/BikeCounterPro/.vscode/
software/BikeCounterPro/build/
software/flashMemory/writeConfigToFlash/.vscode/
software/flashMemory/writeConfigToFlash/arduino_secrets.h
.markdownlint.json
